@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Montserrat';
}

html, body {
    margin: 0;
    padding: 0;
}

.content {
    margin-left: 50px;
    margin-right: 50px;
}

.content p {
    text-indent: 2em;
}

/* #quiz {
    /* margin-left: 3px; */
/* } */ */

input {
    height: 25px;
    width: 230px;
}

#student-quiz {
    margin-left: 50px;
    margin-top: 170px;
}

#submit {
    background-color: #8D8741;
    color: white;
    margin: 30px 0px 5px 80px;
    padding: 10px;
}
#submit:hover {
    cursor: pointer;
}

.check {
    color: rgb(62, 216, 24);
    font-size: 1.5em;
}

.cross {
    color: rgb(247, 20, 20);
    font-size: 1.5em;
}

.cover-image {
    border-radius: 50%;
    float: right;
    height: 200px;
    position: relative;
    bottom: 15px;
}

.kar-image {
    float: right;
    position: relative;
    bottom: 10px;
}

.kar2-image {
    border-radius: 33.3%;
    float: right;
    position: relative;
    left: 20px;
}

.echo-abnormal-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.echo-patient-image {
    width: 400px;
    float: right;
    border-radius: 33.3%;
    position: relative;
    left: 20px;
    bottom: 20px;
}

.symptoms-image {
    width: 400px;
    float: right;
    position: relative;
    bottom: 90px;
}

.school-image {
    border-radius: 33.3%;
    width: 400px;
    float: right;
    position: relative;
    left: 20px;
    bottom: 20px;
}

.celiac-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
}

.tpv1-image {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
}
.tpv2-image {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
}

.tpv-images {
    text-align: center;
}

.symptoms-content {
    margin-bottom: 70px;
}

.elderly-image {
    border-radius: 33.3%;
    width: 400px;
    float: right;
    position: relative;
    left: 20px;
}

.main-title {
    text-align: center;
    font-size: 4em;
}

.nav {
    text-align: center;
    font-size: 1.2em;
    border-bottom: 1px solid rgba(255, 255, 255, .4);
}

.nav ul {
    margin: 0;
}

.nav li {
    display: inline;
    padding: 1%;
}

.nav a {
    color: white;
    display: inline-block;
    padding: .5em;
    text-decoration: none;
}

.nav a:hover {
    background-color: rgba(255, 255, 255, .4);
}

.main-header {
    background-image: url("Images/Sky.jpg");
    background-size: cover;
    color: #DAAD86;
    padding-bottom: 20px;
}

.references {
    /* border-top: 1px solid rgba(0, 0, 0, 0.4); */
    background-color: #659DBD;
    padding-top: 1%;
}

.references p {
    text-indent: -4em;
    padding-left: 4em;
    margin-left: 1%;
    margin-right: 2%;
}

.ref-title {
    text-align: center;
}